/*importar font*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
/*Configurar variáveis de ambiente*/

:root {
    --cor_fundo: rgb(197, 140, 250);
    --cor_main: rgb(229, 231, 101);
    --cor_main_dark: rgb(0, 0, 0);
    --cor_footer:rgb(231, 101, 172);
}
/* Resetar contorno da página */
* {
    outline: 0;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
}

/* Definição da página */
body {
    background: var(--cor_fundo);
    font-family: 'Playfair Display';
    font-size: 1.2em;
    line-height: 1.3em;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80%;
    margin: 20px auto;
    background: var(--cor_main);
    border-radius: 20px;
}

header {
    display: flex;
    width: 100%;
}

.dados {
    width: 50%;
    margin-left: 30px;
}

form input,
form label {
    display: block;
    height: 50px;
    font-size: 12.6px;
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 15px 25px;
    margin-top: 10px;
    background-color: rgb(101, 153, 231);
    color: #000000;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

form input {
    font-size: 26px;
    padding: 0 20px;
    height: 50px;
}

footer {
    background: var(--cor_footer);
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  }


